%h1 Form

%form{ :action => "/message", :method => "post"}
  %input{ :type => "text", :id => "send", :name => "send"}
  %input{ :type => "submit", :value => " Valider"}

.test
  coucou

%div
  %img{ :src => '/images/Les_Sims.jpg'}